@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  row-gap: 2rem;

  .container {
    display: flex;
    column-gap: 3rem;

    @include m.md {
      flex-direction: column;
    }

    .left {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      width: 60%;

      @include m.md {
        width: 100%;
      }

      p {
        color: v.$color-grey;
        font-size: 1.25rem;
      }

      .skills {
        display: grid;
        grid-template-columns: repeat(2, minmax(10rem, 15rem));
        row-gap: 0.5rem;
        margin-top: 1rem;

        @include m.sm {
          grid-template-columns: repeat(1, minmax(10rem, 15rem));
        }

        .skill {
          display: flex;
          align-items: center;
          color: v.$color-grey;
          column-gap: 1rem;

          svg {
            font-size: 0.5rem;
            color: v.$color-gold;
          }
        }
      }
    }

    .right {
      position: relative;
      width: 40%;

      @include m.md {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 5rem 0;
      }

      .wrapper {
        position: relative;
        width: 15rem;
        z-index: 0;

        .image {
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }

          &::after {
            border: 3px solid v.$color-gold;
            z-index: -1;
            transform: translate(1.5rem, 1.5rem);
            transition: transform 0.5s;
          }

          &:hover {
            &::after {
              transform: translate(1rem, 1rem);
            }
          }
        }
      }
    }
  }
}
