@use "../mixins" as m;

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 75rem;
  width: 100%;
  padding: 0 8rem;

  @include m.lg {
    padding: 0 6rem;
  }

  @include m.md {
    padding: 0 2rem;
  }
}
