@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;

  @include m.md {
    justify-content: flex-start;
  }

  .links {
    display: flex;
    column-gap: 3rem;
    row-gap: 3rem;

    @include m.md {
      display: none;
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    row-gap: 0.5rem;
    cursor: pointer;
    padding: 1rem;

    @include m.md {
      display: flex;
    }

    .line {
      height: 1px;
      border: 1px solid v.$color-gold;

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          width: calc(3rem - #{$i}rem / 2);
        }
      }
    }
  }
}
