@use "../../styles/variables" as v;

.projects {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  min-height: 100vh;
}

.project {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 5rem;

  .image {
    grid-column: 1 / 8;
    grid-row: 1 / 1;
    position: relative;

    &.alt {
      grid-column: 6 / -1;
    }
  }

  .details {
    grid-column: 7 / -1;
    text-align: right;
    grid-row: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem;
    z-index: 2;

    &.alt {
      grid-column: 1 / 7;
      text-align: left;
    }

    .label {
      font-size: 1rem;
      color: v.$color-gold;
    }

    .name {
      color: v.$color-white;
      font-size: 2rem;
    }

    .description {
      box-shadow: 0 10px 30px -15px v.$color-navy-shadow;
      background-color: v.$color-light-navy;
      border-radius: 3px;
      padding: 1rem;
      font-size: 1.125rem;
      color: v.$color-grey;
      position: relative;
      z-index: 2;

      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      .stack {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        font-size: 0.875rem;
        color: v.$color-grey;
        column-gap: 1rem;

        &.alt {
          justify-content: flex-start;
        }
      }
    }

    .links {
      display: flex;
      justify-content: flex-end;
      column-gap: 1.5rem;
      margin-top: 1rem;

      &.alt {
        justify-content: flex-start;
      }

      .link {
        color: v.$color-white;
        font-size: 1.5rem;
        transition: color 0.5s;

        &:hover {
          color: v.$color-gold;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .project {
    .details {
      grid-column: 6 / -1;

      &.alt {
        grid-column: 1 / 8;
      }
    }
  }
}

@media (max-width: 768px) {
  .project {
    box-shadow: 0 10px 30px -15px v.$color-navy-shadow;

    .image {
      grid-column: 1 / -1;

      &.alt {
        grid-column: 1 / -1;
      }
    }

    .details {
      background-color: v.$color-light-navy-9;
      grid-column: 1 / -1;
      padding: 2rem;
      text-align: left;

      &.alt {
        grid-column: 1 / -1;
      }

      .description {
        box-shadow: none;
        background-color: unset;
        padding: 1rem 0;

        .stack {
          justify-content: flex-start;
        }
      }

      .links {
        justify-content: flex-start;
      }
    }
  }
}
