$font-calibre: "Calibre", -apple-system, sans-serif;
$font-sfmono: "SFMono", Robot, sans-serif;

$color-light-navy: #112240;
$color-navy: rgb(10, 25, 47);
$color-navy-8: rgba(10, 25, 47, 0.85);
$color-white: #f2f2f2;
$color-grey: #8892b0;
$color-gold: rgb(218, 165, 32);
$color-gold-1: rgba(218, 165, 32, 0.1);
