$font-calibre: "Calibre", -apple-system, sans-serif;
$font-sfmono: "SFMono", Robot, sans-serif;

$color-navy: rgb(10, 25, 47);
$color-navy-8: rgba(10, 25, 47, 0.85);
$color-white: #f2f2f2;
$color-gold: #daa520;
