@use "../../../styles/variables" as v;

.link {
  font-size: 0.875rem;
  color: v.$color-white;
  transition: color 0.5s;
  font-family: v.$font-sfmono;
  cursor: pointer;

  &:hover {
    color: v.$color-gold;
  }

  span {
    color: v.$color-gold;
    padding-right: 0.25rem;
  }
}

@media (max-width: 768px) {
  .link {
    font-size: 1.125rem;
  }
}
