@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.link {
  font-size: 0.875rem;
  color: v.$color-white;
  transition: color 0.5s;
  font-family: v.$font-sfmono;
  cursor: pointer;

  @include m.md {
    font-size: 1.125rem;
  }

  &:hover {
    color: v.$color-gold;
  }

  span {
    color: v.$color-gold;
    padding-right: 0.25rem;
  }
}
